/* Importo la fuentes tambien al css por si no funciona en el HTML */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color-primario: #1E1E1D;
    --color-secundario: #FCBF00;
    --color-fondo: #171717;
    --color-texto: #fff;
    --color-azul: #00bef2;
    /* degradados para copiar y cambiar valores ejemplo: '0.9 a 0.8'*/
    --color-azul-degrad: rgba(0,190,242,0.9);
    --color-primario-degrad:rgba(30,30,29,0.89);
    --color-secundario-degrad: rgba(252,191,0,0.82);
}
*{
    margin: 0;
    padding: 0;
    font-family:"Roboto", sans-serif;
    box-sizing: border-box;
    border: 0;
}
body{
    background-color: var(--color-fondo);
    color: var(--color-texto);
}
.contenedor{
    padding: 10px 10%;
}
/* ------------------ Header ------------------ */
#header{
    width: 100%;
    height: 100vh;
    background: url(/img/valoteam.png) no-repeat center;
    background-size: cover;
}
nav{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--color-primario);
}
.imglogo{
    width: 80px;
    margin-left: 10px;
}
.imglogo:hover{
    filter: drop-shadow(1px 1px 10px var(--color-azul-degrad));
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}
nav ul li a{
    color: var(--color-texto);
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
/* Este after es para poner la linea debajo del navegador de inicio */
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: var(--color-azul);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
/* Hover y after para que funcione la animacion a la hora de pasar el cursor */
nav ul li a:hover::after{
    width: 100%;
}
/* Menu desplegable */
nav .fa-solid{
    display: none;
    margin-right: 20px;
}
/* ----- titulos y texto centrado en la pagina ------ */
.titulo, .tituloTxt, .btn-home, .btn{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgTitulo{
    width: 400px;
    filter: drop-shadow(-2px 2px 15px rgba(0, 0, 0, 0.9));
    margin: 8% 0;
}
.tituloTxt{
    font-size: 20px;
    font-weight: 700;
    filter: drop-shadow(-2px 2px 15px rgba(0, 0, 0, 1));
    margin-bottom: 200px;
}
/* --------- Boton header ----- */
.btn {
    font-weight: 500;
    font-size: 20px;
    display: inline-block;
    background: linear-gradient(90deg, #1E1E1D 49%, #fac834 100%);
    padding: 12px 37px;
    border: solid #fcbf00 1px;
    box-shadow: rgb(0, 0, 0) 0px 6px 27px 12px;
    border-radius: 11px 50px 0px;
    transition: 0.5s;
    transform: translateY(0);
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: var(--color-texto);
}
/* Estilos al hacer hover en los botones */
.btn:hover {
    /* background: none; */
    transition : 0.5s;
    padding: 10px 46px;
    background: linear-gradient(90deg, #1E1E1D 49%, #fcbf00 100%);
    color: var(--color-texto);
    border: solid 1px #fcbf00;

}
/* ------------------ productos ------------------ */
#productos h1 {
     text-align: center;
     justify-content: center;
     font-size: 50px;
     margin: 10px 0;
     font-weight: 700;
}





/* ------------ responsive ------------ */
@media only screen and (max-width: 600px){
    /* ------ Header ----------- */
    .imgTitulo{
        width: 200px;
        margin: 20px;
    }
    .tituloTxt{
        margin: 150px 0;
        font-size: 20px;
    }
    /* ------- Boton de navegador ---------*/
    nav .fa-solid{
        display: block;
        font-size: 20px;
    }
    nav ul{
        background: var(--color-primario-degrad);
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 30px;
    }
    nav ul .fa-solid{
        position: absolute;
        top:25px;
        left: 25px;
        cursor: pointer;
    }
    nav ul li a {
        display: inline-block;
        font-weight: 500;
        font-size: 25px;
    }
    /* ---------   --------------- */
}